name: CI Development

on:
  push:
    branches: [development]
  pull_request:
    branches: [development]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      
      - name: Install
        run: pip install -r requirements.txt
      
      - name: Run all tests
        run: pytest -q --cov=. --cov-report=term --cov-report=xml --cov-report=html